* {
  margin: 0;
  padding: 8px;
}

main::not(.home) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282a36;
  color: wheat;
}

header {
  top: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #44475a;
  position: sticky;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.25rem;
}

.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cart span {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

a:link {
  color: wheat;
  text-decoration: none;
}

a:visited {
  color: wheat;
}

/* home */
.home {
  margin-top: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #8080803c;
  max-height: 30%;
  width: 100%;
}

.hero img {
  max-width: 50%;
}

.home a:link {
  border: 3px solid;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
}

/* card */
.card {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
}

.card img {
  width: 200px;
  height: 200px;
}

.card form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card .submit {
  cursor: pointer;
}

/* cart */

.cart {
  display: flex;
  height: 100%;
}

.cart-items,
.checkout {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 50vh;
  padding: 20px;
  gap: 1em;
  border: 3px solid #44475a;
  border-radius: 5px;
}

.cart-items {
  flex-direction: column;
  overflow-y: scroll;
  border: none;
}

.delivery {
  width: 50%;
  border: 2px solid;
}

.delivery form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1em;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid;
}

.summary div {
  display: flex;
  justify-content: space-between;
}

.cart-card {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 2px solid;
  width: 300px;
  height: 550px;
}

.cart-card img {
  height: 250px;
  width: 250px;
}

.price {
  font-size: 1.5rem;
}

.delete {
  font-size: 1.5rem;
  display: flex;
  justify-content: end;
  width: 250px;
  margin-bottom: 5%;
}

/* help layout */

.help-layout {
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}

.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a {
  padding: 10px;
  border: 3px solid #44475a;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover {
  transform: scale(1.1);
}

.help-layout nav a.active {
  background-color: #f1fa8c;
  color: black;
}

/* faq */
.faq .question {
  text-align: left;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 1%;
  background-color: #44475a;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer img {
  height: 30px;
}

/* error */
.error-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
